/*
 * File: _theme.scss
 * Project: fliq
 * File Created: Sunday, 10th May 2020 12:52:26 am
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Sunday, 10th May 2020 1:01:10 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
@import "~@angular/material/theming";

@include mat-core();
$fliq-primary: mat-palette($mat-indigo);
$fliq-accent: mat-palette($mat-pink, A200, A100, A400);
$fliq-warn: mat-palette($mat-red);
$fliq-theme: mat-light-theme($fliq-primary, $fliq-accent, $fliq-warn);
@include angular-material-theme($fliq-theme);
